body{
    background-color: #DADADA;
}

/******** BOXES *****/ 
.box{
      font-size: 16px;
}

.boxLR{
      font-size: 16px;
      margin-left: 10px;
      margin-right: 10px;
}

.boxL{
      font-size: 16px;
      margin-left: 10px;
}

.boxR{
      font-size: 16px;
      margin-right: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/******* WRAPPER & CONTAINER ******/
.wrapper, .containerDesktop, .containerMobile .row, .col {
  display: block;
  
}
.wrapper {
    width: 100%;
    height: 100%;
}


div.containerDesktop, div.container{
    background-color:white;
    width: 1080px;
    height: auto;
    margin: 0 auto 0 auto; 
    padding: 10px 0 0 0;
}

      /*deel mobiel laten verdwijnen */
            div.containerMobile{ 
                background-color:rbga(0,0,0,0.0);
                display: none;
            }


/******** rows & cols ******/

.row {
  margin: 0 auto;
  max-width: 100%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding: 0.75em;

}
.col-12 {
  width: 100%;
}

.col-11{
    width: 91,66667%;
}

.col-10{
    width: 83,44443%;
}
.col-9 {
  width: 75%;
}
.col-8{
    width: 66.66666%;
}

.col-7{
    width:58.3333%;
}
.col-6 {
  width: 50%;
}

.col-5{
    width:41,72215%;
}

.col-4 {
  width: 33.33333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66667%;
}
.col-1 {
  width: 8.33333%;
}

.col-9-a {
  width: 75%;
  padding-left: 18%;
}

/*******************************************************************************************************/
/*******************************************************************************************************/
/***********************************  DESKTOP - veranderingen *******************************************/

div.containerGorun,div.containerfriends, div.containerProfile, div.containerMap{
  padding-bottom: 50px;
}





/*******************************************************************************************************/
/*******************************************************************************************************/
/***********************************  MOBIEL - veranderingen *******************************************/

@media only screen and (max-width: 480px) {

.wrapper { 
    width: 340px;
    height: auto;
    display: inline-block;
}

div.container{
    width: 340px;  
}

/* dit is voor de HOMEPAGE */
div.containerDesktop{ 
    width: 340px;
    margin: none;
    display: none;
}

div.containerMobile{ 
    display: initial;
    width: 340px;
    height: auto;
    margin-top: 37px;
}

div.marginByMobMap{
  margin: 25px 0 60px 0;
}

div.marginByMobProf{
  margin-top:20px;
}

div.marginByMobGorun{
  margin-top:16px;
}

.containerHomeMob{
  padding-top:50px;
}

}